body {
    font-family: 'Baloo 2', cursive;
}

.navbar {
    position: fixed;
    width: 100%;
}

.jumbotron {
    background-color: #22A39F;
    color: white;
    height: 722px;
    display: flex;
    margin: 0px;

}

.jumbotron-fluid h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255, 255, 255, 0.35);
    text-align: center;
    font-weight: bold;
    font-size: 64px;
}

.jumbotron-fluid .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.intro-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50%;
}

#Aloy {
    color: rgb(221, 103, 48);
}

#Aloy:hover {
    color: rgb(79, 79, 180);
}

#Ellie {
    color: #d4eb9e;
}

#Ellie:hover {
    color: #dd857b;
}

#Kratos {
    color: #922929;
}

#Kratos:hover {
    color: darkgray;
}

/* ol {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
} */

.subs {
    color: plum;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
}